@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  &:focus-visible {
    outline: none;
  }
}

$blackColor: #000000;
$whiteColr: #ffffff;
$mainColor: #d4b2e4;
$mainColorActive: #c084dc;
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 16px;
}

.header {
  position: fixed;
  z-index: 5;
  background-color: $whiteColr;
  width: 100%;
  border-bottom: 1px solid $mainColor;

  &__container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  &__main__button {
    max-width: 100px;
    width: 100%;
    margin-right: 15px;
    cursor: pointer;
    height: 30px;
    border-radius: 10px;
    background-color: $mainColor;
    font-size: 13px;
    line-height: 30px;
    text-transform: uppercase;
    color: $blackColor;
    text-decoration: none;
    text-align: center;
  }

  &__find {
    max-width: 1100px;
    width: 100%;
    margin-right: 15px;
    border: none;
    background-color: #ddcfe4;
    border-radius: 10px;
    text-align: center;
    color: $blackColor;
    height: 30px;

    &:focus {
      outline: none;
      color: $blackColor;
    }
  }

  &__selectContainer {
    max-width: 100px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;

    select {
      display: inline-block;
      cursor: pointer;
      padding: 10px 15px;
      outline: none;
      border: none;
      border-radius: 10px;
      border-radius: 0;
      background-color: $whiteColr;
      color: $mainColorActive;
    }
  }

  &__select {
    font-size: 14px;
    line-height: 25px;
    max-width: 100px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    position: relative;
  }

  &__selectList {
    width: 100px;
    position: absolute;
    top: 100%;
    display: none;
  }
  &__selectList-active {
    display: inherit;
  }

  // &__selectList-nonActive {
  //   display: none;
  // }
  &__li {
    list-style-type: none;
    border-bottom: 1px solid $whiteColr;
    background-color: $mainColorActive;
    transition: all 0.5s;

    &:hover {
      background-color: $mainColor;
    }
  }
}

.pinsWrapper {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 236px);
  grid-auto-rows: 10px;
  justify-content: center;
}

.pinContainer {
  max-width: 236px;
  width: 100%;
  padding-right: 10px;
  padding-bottom: 15px;
}

.pinContainer-small {
  grid-row-end: span 28;
}

.pinContainer-medium {
  grid-row-end: span 38;
}

.pinContainer-large {
  grid-row-end: span 51;
}

.imgContainer {
  margin-bottom: 10px;
  position: relative;

  &:hover .img__shadow {
    display: block;
  }
}

.imgContainer__small {
  height: 212px;
}

.imgContainer__medium {
  height: 314px;
}

.imgContainer__large {
  height: 419px;
}

.img__shadow {
  max-width: 236px;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 16px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  transition: all 0.5s;
}

.img__shadow-small {
  height: 212px;
}

.img__shadow-medium {
  height: 314px;
}

.img__shadow-large {
  height: 419px;
}

.img__button {
  position: absolute;
  z-index: 2;
  opacity: 1;
}

.img__save {
  top: 15px;
  right: 15px;
  max-width: 100px;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  text-transform: capitalize;
  border: none;
  background-color: $mainColor;
  border-radius: 16px;
  color: $whiteColr;
  transition: background-color 0.5s;

  &:hover {
    background-color: $mainColorActive;
  }
}

.img__hide {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  max-width: 180px;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  border: none;
  background-color: transparent;
  color: $whiteColr;
  transition: text-shadow 0.5s;

  &:hover {
    text-shadow: 1px 1px 2px $mainColor;
  }
}

.img__complain {
  border: none;
  cursor: pointer;
  bottom: 15px;
  left: 10px;
  max-width: 120px;
  width: 100%;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  text-transform: capitalize;
  border: none;
  background-color: #ddcfe4;
  border-radius: 16px;
  color: rgb(179, 176, 176);
  transition: color 0.5s;

  &:hover {
    color: $whiteColr;
  }
}

.pinImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.description__wraper {
  display: flex;
  align-self: center;
}

.description {
  font-weight: bold;
  font-size: 17px;
  line-height: 19px;
  text-transform: capitalize;
}

.hideElement {
  display: none;
}

// modal

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  display: none;

  &__window {
    max-width: 500px;
    width: 100%;
    background-color: $whiteColr;
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__choice {
    margin-bottom: 30px;
    max-height: 300px;
    height: 100%;
    overflow: auto;
  }
  &__container {
    display: flex;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width: 100%;
    transition: all 0.8s;

    &:last-child {
      margin-bottom: 15px;
    }

    &:hover {
      background-color: rgba(218, 214, 214, 0.2);
    }

    &::before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 50%;
      margin-right: 0.5em;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }

  &__check {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:not(:disabled):not(:checked) + label:hover::before {
      border-color: #b3d7ff;
    }

    &:not(:disabled):active + label::before {
      background-color: #b3d7ff;
      border-color: #b3d7ff;
    }

    &:focus + label::before {
      box-shadow: 0 0 0 0.2rem #d4b2e4;
    }

    &:checked + label::before {
      border-color: $mainColor;
      background-color: $mainColorActive;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }
    &:disabled + label::before {
      background-color: $whiteColr;
    }
  }

  &__buttons {
    display: flex;
    justify-content: end;
  }
  &__button {
    border: none;
    border-radius: 16px;
    max-width: 100px;
    width: 100%;
    font-size: 16px;
    line-height: 35px;
    cursor: pointer;
  }

  &__delay {
    margin-right: 10px;
    background-color: rgb(228, 222, 222);
    transition: all 0.5s;
    &:hover {
      background-color: rgb(248, 240, 240);
    }

    &:active {
      background-color: rgb(228, 222, 222);
    }
  }

  &__send {
    background-color: $mainColorActive;
    transition: all 0.5s;
    &:hover {
      background-color: $mainColor;
    }

    &:active {
      background-color: $mainColorActive;
    }
  }
}

.body__notScroll {
  overflow: hidden;
}

.modal-active {
  display: flex;
}

.modal-disable {
  display: none;
}

.saveModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  display: none;

  &__window {
    max-width: 300px;
    width: 100%;
    background-color: $whiteColr;
    border-radius: 16px;
    padding-top: 15px;
  }

  &__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }

  &__boards {
    height: 300px;
    overflow: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__createButton {
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 0px 0px 16px 16px;
    font-size: 16px;
    line-height: 38px;
    background-color: rgb(228, 222, 222);
    transition: all 0.5s;

    &:hover {
      background-color: rgb(248, 240, 240);
    }

    &:active {
      background-color: rgb(228, 222, 222);
    }
  }

  &.modal-active {
    display: flex;
  }

  &.modal-disable {
    display: none;
  }

  &__CreateTitle {
    margin-bottom: 50px;
  }
  &__inputContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
  &__label {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 50px;
  }

  &__input {
    display: block;
    margin-top: 10px;
    border: none;
    border: 3px solid rgb(202, 202, 202);
    border-radius: 16px;
    max-width: 268px;
    width: 100%;
    height: 35px;
    margin-bottom: 50px;

    &[placeholder] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__buttonContainer {
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
  }

  &__buttons {
    border: none;
    border-radius: 16px;
    max-width: 100px;
    width: 100%;
    font-size: 16px;
    line-height: 35px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  &__delayButton {
    background-color: rgb(228, 222, 222);
    transition: all 0.5s;
    &:hover {
      background-color: rgb(248, 240, 240);
    }

    &:active {
      background-color: rgb(228, 222, 222);
    }
  }

  &__readyButton {
    background-color: $mainColorActive;
    transition: all 0.5s;
    &:hover {
      background-color: $mainColor;
    }

    &:active {
      background-color: $mainColorActive;
    }
  }

  &__boardsContainer {
    border: 2px solid $mainColor;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 16px;
    background-color: $whiteColr;
    transition: all 0.5s;

    &:last-child {
      margin-bottom: 10px;
    }

    &:hover {
      background-color: rgb(248, 240, 240);
    }

    &:active {
      background-color: rgb(228, 222, 222);
    }
  }

  &__boardsTitle {
    text-align: center;
    text-transform: capitalize;
    font-size: 17px;
    line-height: 30px;
  }

  &__lineBox {
    position: relative;
    cursor: pointer;
    margin-left: 10px;
    width: 100%;
    max-width: 15px;
    height: 20px;
  }

  &__upLine {
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: $mainColorActive;
    transform: rotate(-45deg);
  }

  &__downLine {
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: $mainColorActive;
    transform: rotate(45deg);
    top: 10px;
  }
}
